@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #1f1f1f;
  --secondary-color: #5a5a5e;
  --third-color: #DEEAFF;
  --fourth-color: #8E8F98;
  --fifth-color: #EFF4FF;
  --active-filter-color: #D2D3D7;
}

#app,
#app-layout {
  @apply h-screen;
}

body,
html {
  background-color: #fafafc;
  font-family: 'Lato';
}

body {
  overflow-x: hidden;
}

h1 {
  color: var(--color-primary);
  font-weight: 700;
  font-size: 16px;
}

h4 {
  color: var(--color-primary);
  font-weight: 700;
  font-size: 18px;
}

h5 {
  color: var(--color-primary);
  font-weight: 700;
  font-size: 16px;
}

p {
  color: var(--color-primary);
  font-weight: 400;
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  padding: 16px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(222, 234, 255);
}

.container {
  max-width: 1448px;
  margin: 0 auto;
  padding: 0 24px;
}

